.city-card {
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px; /* Add margin-bottom to create space between each card */
    background-color: rgba(255, 255, 255, 0.396)
}

.card-title-1 {
    font-size: 20px;
    font-weight: bold;
    color: #333333; /* Dark text color */
}

.card-text-1 {
    font-size: 16px;
    color: #666666; /* Medium-dark text color */
}

.selected{
    background-color: rgb(255, 255, 255)
}

.card-body{
    padding-top: 4px;
}

.delete-button{
    font-size: 12px;
    font-weight: bold;
    background-color: transparent;
    border: none;
    text-align: right;
    width: 20px; /* Adjust the width to match the size of the "X" */
    height: 20px; /* Adjust the height to match the size of the "X" */
    margin-left: auto;
}
 