.city-card {
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 10px;
    width: 200px;
    margin-bottom: 10px; /* Add margin-bottom to create space between each card */
  }
  .temp-info-card-body{
    text-align: center;
  }
   .city-name {
    font-size: 30px;
    font-weight: normal;
  }
  .curr-temp{
    font-size: 50px;
  }
   .high-low {
    padding-left: 15%;
    padding-right: 15%;
    font-size: 16px;
    margin-top: 10px;
  }
  .temp {
    padding-left: 18%;
    padding-right: 18%;
    font-size: 14px;
    margin-top: 10px;
  }

 